<div class="h-100 mb-4" *ngIf="product != null && product != undefined">
    <div class="d-flex flex-column align-items-center justify-content-center mt-1">
        <h5 class="text-secondary my-3">{{product.Title}}</h5>

        <lib-ngx-image-zoom [thumbImage]="product.Image" [fullImage]="product.Image" [magnification]="1"
            [enableScrollZoom]="false" [enableLens]="true" [lensWidth]="80" [lensHeight]="80"
            [circularLens]="true"></lib-ngx-image-zoom>

        <div class="ms-auto me-3 d-flex flex-column">
            <h4 class="text-danger">{{product.Price | currency:'BRL'}}</h4>
            <button class="btn btn-success mt-2" (click)="onAddProduct()">Adicionar<i
                    class="fas fa-cart-plus ms-2"></i></button>
        </div>
        <div class="mt-5 card p-4">
            <h6 class="fs-6">{{product.Description}}</h6>
        </div>
    </div>
</div>