<div class="d-flex flex-row flex-wrap justify-content-start mt-2 ms-3">
    <div class="col">
        <h5 class="Purchase flex-fill">R$ {{chartValues.Purchase}}</h5>
        <h6 class="Discount">R$ {{chartValues.Discount}}</h6>
        <h4 class="Final flex-fill">R$ {{chartValues.Final}}</h4>
    </div>
    <div class="col d-flex align-items-center justify-content-start">
        <div class="col-md-6 col-sm-12 form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="Digite o Códido do Cupon">
            <label for="floatingInput">Cupon de Desconto</label>
        </div>
    </div>
</div>