@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";

@import "node_modules/bootstrap/scss/bootstrap";


@import "node_modules/ngx-toastr/toastr-bs5-alert";

.carousel-inner {
    padding-bottom: 96px;
}

.carousel-caption {
    bottom: -93px;
}


.product {
    width: 12vw;
    height: 20vh;
    background-repeat: no-repeat;
    background-position: center;
}

.btn-cart {
    --bs-btn-padding-y: 0 !important;
    --bs-btn-padding-x: 0 !important;
    --bs-btn-font-size: 1rem !important;
}

.form-floating-sm {
    $form-floating-height: add(1.5rem, $input-height-border);
    $form-floating-line-height: 1;
    $form-floating-padding-x: $input-padding-x;
    $form-floating-padding-y: .5rem;
    $form-floating-input-padding-t: 1.425rem;
    $form-floating-input-padding-b: .425rem;
    $form-floating-label-height: 1.675em;
    $form-floating-label-opacity: .65;
    $form-floating-label-transform: scale(.85) translateY(-.5rem) translateX(.15rem);
    $form-floating-label-disabled-color: $gray-600;
    $form-floating-transition: opacity .1s ease-in-out,
    transform .1s ease-in-out;
}
